* {
    font-family: sans-serif; 
    padding: 0; 
    box-sizing: border-box;
    width: 1000px; 
    margin-left: auto; 
    margin-right: auto; 
}
    
.topbar {
    background-color: azure; 
    overflow: hidden;
    text-align: center; 
    border: 2px solid white; 
}

.topbar a {
    float: left; 
    display: block;
    color: #D3D3D3; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.couv {
    border: 20px solid azure; 
    height: 1000px; 
    background-image: url('background.jpg');
    background-repeat: repeat;
    
}

.blockcouv {
    text-align: center; 
    position: static;  
    margin-bottom: 5px;
    width: inherit;
    color: white; 
}

h1 {
    color: white;
    text-align: center; 
    font-family: sans-serif; 
}

#traitdessous {
    border-bottom: 3px solid white; 
    width:auto;
}

h3 {
    margin-bottom: 0; 
    position: absolute;
    color: white; 
    text-align: center; 
    
}

.sommaire {
    border: 2px solid black;
    text-align: center;
}

h4 {
    font-size: 5rem; 
}

