.topbar {
    background-color: azure; 
    overflow: hidden;
}

.topbar a {
    float: left; 
    display: block;
    color: #D3D3D3; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.couv {
    display:block; 
    float: left; 
    border: 20px solid azure; 
    height: 1000px; 
    background-image: url('background.jpg')
}

.blockcouv {
    background-color: white; 
    float: left; 
    text-align: left; 
    width: 300px; 
    position: absolute; 
    bottom:100px; 
}

h1 {
    color: white;
    text-align: center; 
    font-family: sans-serif; 
}
