* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    max-width: 1500px;
    max-height: 2000px; 
}

.resume-contents {
    min-height: 100%; 
    min-width: 1500px; 
}


body {
    background-color: #fff;
}

body {
   padding: 3em;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1px; 
    margin-bottom: 1px;
    min-width: 1000px; 
  }

header {
     background-image: url("header.jpg");
     background-size: cover;
     height: 150px;
     max-width: 86.5%;
    }

.agauche { 
    background-color: #ead6bb;
    height: 1400px;
    float: left; 
    min-width: 250px; 
    position: static;
    
}
.adroite {
    height: 1400px; 
    background-color :#fff9ee;
    float:right; 
    position: static;
    width: 70%;
    margin-right: 13.3%;
}
.contenu-gauche,
.photo {
    width:200px; 
    margin-left: 20px; 
    margin-top: 10px;
    align-content: center;
}
.photo,
.profile-image {
    width: 190px;
    height: 210px;
    border-radius: 20%; 
    border: 8px solid #1B2631; 
    align-items: center;
}
.titre-gauche {
    color: #7d5932; 
    font-size: 20px; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    font-weight: bold; 
    display: flex; 
    padding-top: 3Rem;
    align-items: center;
    border-bottom: 1px solid #7d5932; 
}
.information-de-contact ul {
    padding-top: 1.5rem;
}

.information-de-contact ul li p{
   padding: .4rem 0;
    color: #7d5932;
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    align-items: center; 
}

.softskills ul {
    padding-top: 1.5rem; 
}

.softskills ul li p {
    padding: .4rem 0;
    color: #7d5932;
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.competences ul {
    padding-top: 1.5rem; 
}

.competences ul li p {
    padding: .4rem 0;
    color: #7d5932;
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    text-align: justify-all; 
    
}
    
.Loisirs ul {
    padding-top: 1.5rem; 
}

.Loisirs ul li p {
    padding: .4rem 0;
    color: #7d5932;
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.contenu-droite { 
    margin-left: 20px; 
    align-content: center; 
}

.titre-droite {
    color: #7d5932;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    position: relative;
    margin-top: 15px;
}

.pres-desc {
    font-size: 16px; 
    letter-spacing: 1px; 
    line-height: 1,5rem; 
}

.contenu-experience,
.contenu-formation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 2rem;
}

.entreprise, 
.universite {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #664B2D;
    padding-bottom: .4rem;
}

.periode {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 2rem;
    margin-top: 10px; 
}
.nom-exp, 
.nom {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5rem;
    border-left: 3px solid #7d5932;
    padding-left: 5px;
}

.experience-droite {
    font-size: 16px; 
    letter-spacing: 1px; 
    line-height: 1,5rem; 
    border-left: 3px solid #7d5932; 
    padding-left: 5px;
}

.desc{
    font-size: 16px; 
    letter-spacing: 1px; 
    line-height: 1,5rem; 
    border-left: 3px solid #7d5932; 
    padding-left: 5px;
}

.footer {
    width: 100%; 
    padding: 1000px, 0px; 
    border: 1px solid #000;
    bottom: 0;
    background-image: url("header.jpg");
    background-size: cover;
    height: 150px;
    max-width: 86.5%;
    }

.enbas {
     align-content: center;
     border: 1px solid #000 ;
     background-color: #fff;
     padding: 1em; 
    }

@media screen and (max-width:823px){
    .titre-gauche::after{
        width: 40%;
    }
}
@media screen and (max-width:681px){
    .titre-droite::after{
        width: 30%;
    }
}

@media screen and (max-width:780px){
    .agauche{
        grid-column: span 3;
    }
    .adroite{
        grid-column: span 4;
    }
}
@media screen and (max-width:1200px){
    .resume-contents{
        grid-template-columns:  repeat(1, 1fr);
    }
    .profile img{
        width: 40%;
    }
}
@media screen and (max-width:700px){
    .profile-image{
        width: 60%;
    }
}
