* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    max-width: 1500px;
    max-height: 2000px; 
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

body {
    padding: 3em;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1px; 
    margin-bottom: 1px;
    min-width: 900px; 
  }

header {
     background-image: url("header.jpg");
     background-size: cover;
     height: 150px;
     width: 100%; 
    }

#ul-entete {
     justify-content: space-evenly;
     align-items: center;
     align-content: center;
     border: 1px solid #000 ;
     background-color: #fff;
     position: fixed;
     text-align: center;
     display: flex;
     padding: 1em; 
    }

.li_entete {
     margin-left: 100px;
     margin-right: 110px;
     border: 1px solid #000;
     padding: 1em; 
    background-color: #fff;
    }

.agauche {
    grid-column: span 3; 
    height: 100%; 
    background-color: #ead6bb;
    height: 1900px;
    width: 20%;
    float: left;
    position: inherit; 
    padding: 1em; 
}
.adroite {
    grid-column: span 5; 
    height: 1900px; 
    background-color :#fff9ee;
    height: 1900px;
    width: 80%;
    float: right;
    position: inherit;
    padding : 1em; 
}
.contenu-gauche,
.photo {
    width:200px; 
    margin-left: 20px; 
    margin-top: 10px;
    align-content: center;
}
.photo,
.profile-image {
    width: 190px;
    height: 210px;
    border-radius: 20%; 
    border: 8px solid #1B2631; 
    align-items: center;
}
.titre-gauche {
    color: #7d5932; 
    font-size: 20px; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    font-weight: bold; 
    display: flex; 
    padding-top: 3Rem;
    align-items: center;
    border-bottom: 1px solid #7d5932; 
}
.information-de-contact ul {
    padding-top: 1.5rem;
}

.information-de-contact ul li p{
   padding: .4rem 0;
    color: #7d5932;
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    align-items: center; 
}

.softskills ul {
    padding-top: 1.5rem; 
}

.softskills ul li p {
    padding: .4rem 0;
    color: #7d5932;
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.competences ul {
    padding-top: 1.5rem; 
}

.competences ul li p {
    padding: .4rem 0;
    color: #7d5932;
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    text-align: justify-all; 
    
}
    
.Loisirs ul {
    padding-top: 1.5rem; 
}

.Loisirs ul li p {
    padding: .4rem 0;
    color: #7d5932;
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.contenu-droite { 
    margin-left: 20px; 
    align-content: center; 
}

.titre-droite {
    color: #7d5932;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    position: relative;
    margin-top: 15px;
}

.pres-desc {
    font-size: 16px; 
    letter-spacing: 1px; 
    line-height: 1,5rem; 
}

.contenu-experience,
.contenu-formation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 2rem;
}

.entreprise, 
.universite {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #664B2D;
    padding-bottom: .4rem;
}

.periode {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 2rem;
    margin-top: 10px; 
}
.nom-exp, 
.nom {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5rem;
    border-left: 3px solid #7d5932;
    padding-left: 5px;
}

.experience-droite {
    font-size: 16px; 
    letter-spacing: 1px; 
    line-height: 1,5rem; 
    border-left: 3px solid #7d5932; 
    padding-left: 5px;
}

.desc{
    font-size: 16px; 
    letter-spacing: 1px; 
    line-height: 1,5rem; 
    border-left: 3px solid #7d5932; 
    padding-left: 5px;
}

.enbas {
    height: 120px; 
    width: 100%; 
    padding: 20px 0px; 
    box-shadow: 1px 1px 1px #333;
    align-content: center;
}
